!="---\n"
!="layout: default\n"
!="---\n"

div.home
  div.main-container
    img(src="assets/bw_headshot.PNG", width=150).headshot
    h1.page-heading
      != "{% markdown about.md %}"
  div.side-container
    h1.page-heading
      | Posts
    !="{{ content }}"
    ul.post-list
      !="{% for post in site.posts %}"
      li
        span.post-meta
          !='{{ post.date | date: "%b %-d, %Y" }}'
        h2
          a.post-link(href!="{{ post.url | relative_url }}")
            !="{{ post.title | escape }}"
      !="{% endfor %}"
    p.rss-subscribe
      | subscribe
      a(href!='{{ "/feed.xml" | relative_url }}')
        |  via RSS
