<%_ current_page.items.forEach(function(item, i, arr){ -%>
<div class='item'>
    <a class='card'>
        <h1> <%- item.name %></h1>
        <p><b>Repetition: </b> <%- item.repetition %></p>
        <p><b>Description: </b> <%- item.description %></p>
        <div class='content'>
          <p><b>Reason: </b> <%- item.reason %></p>
        </div>
    </a>
</div>
 <%_ }); -%>
