---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Ovo", Helvetica, Arial, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        1200px;

//TODO: fix these for mobile
$main-container-width: 800px;
$side-container-width: 300px;
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
/*
 *@include media-query($on-palm) {
 *    .wrapper {
 *        padding-right: $spacing-unit / 2;
 *        padding-left: $spacing-unit / 2;
 *    }
 *}
 */

// Import partials from the `minima` theme.
//@import "variables";
//@import "bootstrap";
//@import "bootstrap/mixins";
//@import "bootstrap/scaffolding";
//@import "bootstrap/grid";

.toilet-background {
  //background-image: url("toilet_really_in_waves_stylized_small.jpg");
}

.main-container {
  width: $main-container-width;
  padding-right: $spacing-unit;
  float: left;
}
.side-container {
  width: $side-container-width;
  float: right;
}
.headshot{
}

@import "minima";
